<component name="ArtifactManager">
  <artifact type="war" name="spring-web-application:war">
    <output-path>$PROJECT_DIR$/spring-web-application/target</output-path>
    <root id="archive" name="spring-web-application.war">
      <element id="artifact" artifact-name="spring-web-application:war exploded" />
    </root>
  </artifact>
</component>