<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-streaming-view:war">
    <output-path>$PROJECT_DIR$/spring-boot-streaming-view/target</output-path>
    <root id="archive" name="spring-boot-streaming-view.war">
      <element id="artifact" artifact-name="spring-boot-streaming-view:war exploded" />
    </root>
  </artifact>
</component>